.the-body {
    margin: 20px 80px;
    font-family: Georgia, 'Times New Roman', Times, serif !important;
}

.about-me h1 {
    font-weight: 900;
    font-size: 40px;
    font-family: serif;
    margin-left: 100PX;
}

.lines {
    border-top: 2px solid rgb(158, 157, 157);
    width: 115.9%;
    margin-left: -88px;
}

.portfolio {
    padding: 20px 0;
}

.portfolio h1 {
    font-size: 85px;
    font-weight: 900;
    text-align: center;
    padding: 30px 0;
}

.title {
    position: absolute;
    font-size: 23px;
    font-weight: 500;
    font-family: serif;
}

.top-title {
    margin-top: 65px;
    margin-left: 270px;
}

.bottom-title {
    margin-top: -90px;
    margin-left: 630px;
}

.square {
    width: 15px;
    align-items: center;
    height: 15px;
    background-color: black;
    font-size: 25px;
}

.shape-t {
    position: absolute;
    margin-top: 200px;
    margin-left: 250px;
}

.shape-b {
    position: absolute;
    margin-top: -210px;
    margin-left: 820px;
}

.color {
    color: red;
}

.about-me {
    display: flex;
    justify-content: center;
}

.about-me>div {
    padding: 20px;
    margin: 10px;
}

.about-img img {
    height: 400px;
    object-fit: cover;
}

.header h1 {
    font-size: 30px;
    margin-left: -10px !important;
}

.about-intro h3 {
    font-weight: 700;
}

.about-social img {
    width: 25px;
    height: 25px;
    margin-right: 10px;
}

.about-socials {
    display: flex;
    width: 45%;
}

.about-social {
    display: flex;
    align-items: center;
    margin: 2px;
    padding: 5px !important;
    flex: 1;
}

a {
    color: black;
    font-size: 13px;
}

.create img {
    max-width: 100%;
    height: auto;
}
.conte{
    margin-left: -30px;
}
.cont{
    width: 90%;
}

.grand-parent {
    background-color: rgb(247, 244, 241);
}

.parent-exp {
    display: flex;
}
.parent-exp >div{
    margin: 15px;
    width: 50%;
    padding: 15px;
}
.list{
    margin-left: -30px;
}
.hd-exp img {
    width: 200px;
    height: 50px;
}

.certified {
    background-color: antiquewhite;
    border: 3px solid black;
    width: max-content;
    padding: 20px;
    box-shadow: 5px 3px black;
}
.split{
    display: flex;
    background-color: antiquewhite;
    border: 3px solid black;
    width: max-content;
    box-shadow: 5px 3px black;
    letter-spacing: 1px;
    padding-right: 10px;
}
.hd-top h2{
    background-color: red;
    width: 45%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 1px black;
}
.hd-bottom h2{
    background-color: rgba(219, 172, 19, 0.733);
    width: 80%;
    padding: 5px;
    border: 1px solid black;
    border-radius: 2px;
    box-shadow: 3px 1px black;
}